<div class="container">
	<div class="content">
	<div class="container_header">GUEST</div>
		<b>If you have a guest account, you can browse auctions but you can't buy or sell unless you <%= link_to 'set up trading', new_member_path -%>.</b><br /><br />
	</div><!-- class="content" -->
</div><!-- class="container" -->


