<!--[form:tag_for_address]-->

<label>Sort order</label>
<span><%= form.text_field :sort_order %></span><br />

<label>Name</label>
<span><%= form.text_field :name %></span><br />

<!--[eoform:tag_for_address]-->

