<!--[form:bid]-->

    <label>Closed</label>
    <span><%= form.check_box :closed %></span><br />

    <label>Winner</label>
    <span><%= form.check_box :winner %></span><br />

    <label>Closed at</label>
    <span><%= form.datetime_select :closed_at %></span><br />

    <label>Amount</label>
    <span><%= form.text_field :amount %></span><br />

    <label>Quantity</label>
    <span><%= form.text_field :quantity %></span><br />

<!--[eoform:bid]-->

