.live_tree {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.live_tree_loading_tree {
    color: black;
}

.live_tree_searching {
    margin-bottom: 10px;
}

.live_tree_item {
    white-space: nowrap;
}

.live_tree_item_indent {
    margin-left: 1em;
}

.live_tree_item_heading {
}

a.live_tree_branch_expand_collapse_link {
}

.live_tree_item_icon {
    color: #048;
    border-style: none;
    margin-right: 0.5ex;
    width: 9px;
    height: 9px;
}

.live_tree_branch_expanded_icon {
    background: url(/images/live_tree_branch_expanded_icon.gif) no-repeat;
}

.live_tree_branch_collapsed_icon {
    background: url(/images/live_tree_branch_collapsed_icon.gif) no-repeat;
}

.live_tree_leaf_icon {
}

.live_tree_check_box {
}

.live_tree_loading_icon {
    margin-right: 0.5ex;
    width: 10px;
    height: 10px;
}

a.live_tree_item_link {
    color: black;
}

.live_tree_item_name {
    color: black;
}

.live_tree_active_item_name {
    background-color: #048;
    color: white;
}
