YOUR TEMPORARY PASSWORD: <%= @guest.password %>
for http://www.foodmoves.com/

You've been invited to visit Foodmoves.com by <%= @current_user.name %>.

You've been set up to receive buyers' alerts for <%= @watched_item.description %>.

Foodmoves.com is the new auction web site for buying and selling produce.

If you'd like to browse auctions or set up trading, you can log in 
with your email address: <%= @guest.email %>
and temporary password: <%= @guest.password %>
