YOUR TEMPORARY PASSWORD: <%= @guest.password %>
for http://www.foodmoves.com/

Thanks for your interest in Foodmoves.com!

You've taken the first step to buying and selling produce at Foodmoves.com.

If you'd like to browse auctions or set up trading, you can log in 
with your email address: <%= @guest.email %>
and temporary password: <%= @guest.password %>
