<div id="ft">
	<div class="ft_content">
				<%= link_to 'about'.t, about_path, :class => 'ft_content' -%> l <%= link_to 'contact'.t, contact_us_path, :class => 'ft_content' -%> l <%= link_to 'terms of use'.t, legal_path, :class => 'ft_content' -%> l <%= link_to 'privacy'.t, privacy_path, :class => 'ft_content' -%> l &copy; <%= Time.now.year %> Foodmoves.com l <%= 'All rights reserved'.t %>.
	</div><!-- class="ft_content" -->
</div><!-- id="ft" -->
<script type="text/javascript">
_uacct = "UA-2745770-1";
urchinTracker();
</script>