<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Foodmoves: <%=
		if @title then
			h @title
		else
			h controller.controller_name.titlecase
		end
	-%></title>
	<%= stylesheet_link_tag 'roar/reset-fonts-grids', 'roar/screen', 'roar/roar', 'form', 'scaffold', 'calendar' %>
	<%= stylesheet_link_tag 'ext-all.css' %>
	<%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "ext-prototype-adapter.js" %>
    <%= javascript_include_tag "ext-all.js" %>
	<%= javascript_include_tag 'calendar' %>	
	<% unless @map == nil -%>		
		<%= GMap.header %>
		<%= javascript_include_tag("clusterer.js") %>
		<%= @map.to_html %>
	<% end -%>
</head>
<body>
	<div id="doc3" class="yui-t5">
		<div id="hd">

			<div class="top clearfix">
				<ul id="mainnav">
					<li>&nbsp;<%= link_to 'Home', '/' -%></li>
					<% if logged_in? %>									
						<% restrict_to 'support' do -%>
							<li style="margin-left: 1em;">
							  <%= link_to 'Admin', admin_path %>
							</li>
						<% end -%>
						<% restrict_to 'member' do -%>
							<li style="margin-left: 1em;">
							  <%= link_to 'Sell', sell_path %>
							</li>
							<li style="margin-left: 1em;">
							  <%= link_to 'Buy', buy_path %>
							</li>
							<li style="margin-left: 1em;">
							  <%= link_to 'News', news_path %>
							</li>
						<% end -%>
					<% end %>      
				</ul>

				<ul id="secondarynav">
					<% restrict_to 'support' do -%>
					<li style="margin-left: 1em;">
					  <%= link_to 'Team Chat', 'http://foodmoves.campfirenow.com/a6948', :popup => ['Chat', 'width=650,height=1000'] %>
					</li>
					<% end -%>
					<li style="margin-left: 1em;">
					  <%= link_to 'Chat', 'http://foodmoves.campfirenow.com/e08e3', :popup => ['Chat', 'width=650,height=1000'] %>
					</li>
					<% if logged_in? -%>
						<li style="margin-left: 1em;"><%= link_to @current_user.email, member_path(@current_user) -%>&nbsp;</li>
						<li style="margin-left: 1em;"><%= link_to 'Logout', session_path, :method => :delete %></li>
					<% else -%>
						<li style="margin-left: 1em;"><%= link_to 'Login', new_session_path %></li>
					<% end -%>
				</ul>
			</div>
		    <div class="yui-gd infobar"> 
		      <div class="yui-u first">
		        <div id="flashes">
		          <div id="flash-notice" class="notice" style="display: <%= flash[:notice] ? 'block' : 'none' %>;"><%= flash[:notice] %></div>
		          <div id="flash-errors" class="errors" style="display: <%= flash[:error] ? 'block' : 'none' %>;"><%= flash[:error] %></div>
		        </div>
		      </div> 
		    </div>
		</div><!-- id="hd" -->
		<div id="bd">
		    <div id="yui-main"> 
		       <div class="yui-b">
		 	       <div class="main">					
		           <%= yield %>  
		          </div>
		        </div> 
		    </div> 
		    <div class="yui-b">
				  <div class="sidebar">
				    <%= yield :secondary %>
				  </div>
		    </div>    
		</div><!-- id="bd" -->
		<div id="ft">
			<span style="float: left; padding: 3px 10px;"><%= yield :footer %></span>	
		  <p id="copyright">&copy; <%= Time.now.year %> Foodmoves</p>
		</div><!-- id="ft" -->
	</div><!-- doc3 -->
</body>
</html>